// @use "custom" as *;

@mixin centerBurger {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--off-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

}
